# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# bin dir
IR_library/bin/*

# lib dir
IR_library/lib/*

# Catkin build and devel
IR_catkin_ws/devel
IR_catkin_ws/build

IR_library/gtest/*
!IR_library/gtest/setup.sh
